<form action="<%= cat_rental_requests_url %>" method="POST">
  <select name="request[cat_id]">
    <option value="" disabled="disabled"> -- </option>
    <% @cats.each do |cat| %>
        <option value="<%=cat.id%>"> <%=cat.name%> </option>
    <% end %>
  </select>

  <input type="date" name="request[start_date]" value="<%= @request.start_date %>">
  <input type="date" name="request[end_date]" value="<%= @request.end_date %>">

  <input type="submit" value="Rent a Cat!"/>

</form>
