<% if cat.persisted? %>
  <% persisted = true %>
  <form action="<%= cat_url(cat) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH" />
<% else  %>
  <% persisted = false %>
  <form action="<%= cats_url %>" method="POST">
<% end %>

  <input type="text" name="cat[name]" value="<%= cat.name %>"/>

  <input type="radio" id="male" name="cat[sex]" value="M" <%= cat.sex == 'M' ? "checked" : "" %> />
  <label for="male">M</label>
  <input type="radio"id="female" name="cat[sex]" value="F" <%= cat.sex == 'F' ? "checked" : "" %>/>
  <label for="female">F</label>

  <select name="cat[color]">
    <option value="" disabled="disabled"> -- </option>
    <% Cat::COLORS.each do |color| %>
      <% if cat.color == color %>
        <option value="<%=color%>" selected="true" > <%=color%> </option>
      <% else %>
        <option value="<%=color%>" > <%=color%> </option>
      <% end %>
    <% end %>
  </select>

  <input id="birthdate" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  <textarea name="cat[description]" rows="10" cols="50" ><%= cat.description %></textarea>
  <input type="submit" value="<%= persisted ? "Update Cat!" : "Create Cat!" %>"/>
</form>
