<!-- :birth_date, :color, :name, :sex, :description -->
<table>
  <tr>
    <th> Name </th>
    <th> Birthdate </th>
    <th> Color </th>
    <th> Sex </th>
    <th> Description</th>
  </tr>
  <tr>
    <td> <%= @cat.name %> </td>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>
<h3> Currently Rented On </h3>
<table>
  <tr>
    <th> Start Date </th>
    <th> End Date </th>
  </tr>
    <% @requests.each do |request| %>
      <tr>
        <td> <%= request.start_date %> </td>
        <td> <%= request.end_date %> </td>
      </tr>
    <% end %>
</table>
