<!-- :birth_date, :color, :name, :sex, :description -->
<table>
  <tr>
    <th> Name </th>
    <th> Birthdate </th>
    <th> Color </th>
    <th> Sex </th>
    <th> Description</th>
  </tr>
  <tr>
    <td> <%= @cat.name %> </td>
    <td> <%= @cat.birth_date %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>
